.formulaire {
    margin-top: 15px;
    float: left;
    width: 400px;
    display: block;
}

.nom{
    border: 1px solid gray;
    border-corner-image-transform: rotate;
    padding: 5px;
    margin: 10px;
    text-align: left;
    height: 20px;
}
.return{
    display: none;
    border-style: dashed;
    background-color: green;
    text-align: center;
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
    color: #ffffff;
}.message{
    height: 60px;
    border: 1px solid gray;
    border-corner-image-transform: rotate;
    padding: 5px;
    margin: 10px;
}
.submit {
    display: block;
    height: 20px;
    border: 1px solid gray;
    border-corner-image-transform: rotate;
    background-color: darkgrey;
    text-align: center;
    margin: 10px;
}
.afficher{
    position: relative;
    margin-top: 220px;
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 10px;
    height: 300px;
    width: 400px;
    border: 1px solid;
}